.article-header {
  background-color: #ADD8E6;
  color: rgb(94, 52, 52);
  border: 3px solid transparent;
  text-align: center;
}

.section-content {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  height: 450px;
  padding-top: 10px;
}

.add-tasks-btn {
  float: right;
  margin-bottom: 5px;
}
